{% extends 'master-template.html' %}

{% block main %}

    <div class="row">
        <div class="col">
            {% include "components/add_film_form.html" %}
        </div>
        <div class="col" id="film-list">

            {% if messages %}
                <ul class="messages" hx-get="{% url 'clear-messages' %}" hx-trigger="load delay:3s">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% include "modules/partial-list-film.html" %}

        </div>
    </div>

{% endblock %}